/* ==============================================
@Author: Rushdi
@URL: 

Styles contents are outlined below
 
1. Default Styles
2. Bootstrap custom styles
2. Navbar Styles
3. Carousel
4. Features
5. Modal
6. Footer
7. 404
8. Jumbo
	
Responsive Styles
a. Mobile and Tablet Screen
b. Mobile Screen
c. Tablet and Desktop Screen
d. Tablet Screen
e. Desktop Screen
f. Desktop and Large Desktop Screen
g. Large Desktop Screen
h. Custom Screens


Animations
i. Animations
=============================================== */

/* =============================================
1.Default Styles
=============================================== */
body{
	font-family: 'Open Sans', sans-serif;
	padding: 0;
}
p{

}

a, a:hover {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{

}
h1+p, h2+p, h3+p, h4+p, h5+p, h6+p{

}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong{

}
h1, h2{


}
h1 strong, h2 strong, h1 span, h2 span{

}
h3{

}
h4{

}
h5{

	}
h6{

}

li {
	list-style: none;
}
.wrapper {
	overflow: hidden;
}
img {
	width: 100%;
	max-width: 100%;
}
/* =============================================
2.Default Styles
=============================================== */
.btn-default {
	background-image: none;
}

/* ==============================================
2.Navbar Styles
=============================================== */
.navbar {
	border-radius: 0;
}
.navbar li a{
	text-transform: capitalize;
}
.navbar-brand{
 font-size: 20px;
 text-align: center;
}
.navbar-inverse{
	background-image:none;
	background-color: rgba(17, 17, 17, 0.65);
	border:none;
}

.navbar-nav>li>a{
	font-size: 10px;
	line-height: 12px;
	padding: 4px 7px;
	font-weight: 700;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a{
	background-image: none;
	box-shadow: none;
}

.navbar-brand>span{
	color: #f0484a;
}

.navbar .search {

}
.navbar .search>a {
	font-size: 12px;
	line-height: 14px;
	display: block;
	font-weight: 700;
	color: #a3a3a3;
}

.navbar .search>a>span {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 6px;
}

.navbar .search>a:hover>span {
	background-color: rgba(0, 0, 0, 0.8);

}
/* ==============================================
> Carousel
=============================================== */
.bootstrap-slider {

}
.carousel-indicators .active {
		background-color: #f0484a;
	}
.carousel-control.right,.carousel-control.left {

	color: #f0484a;
}
.carousel-caption {
    color: #bababa;
    text-align: right;

}

.carousel-caption h3, .carousel-caption p{
    text-transform: uppercase;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px 10px 10px;
    border-bottom: 1px solid #f0484a;
    position: relative;
    

}
.carousel-caption h3::after, .carousel-caption p::after{
	display: inline-block;
	position: absolute;
	right: -10px;
	top: 0;
	content: ' ';
	border-right: 20px solid #f0484a;
	display: inline-block;
-webkit-transform: translate(0px, 0px) rotate(0deg) skew(-25deg, 0deg) scale(1, 1); 
-moz-transform: translate(0px, 0px) rotate(0deg) skew(-25deg, 0deg) scale(1, 1); 
-o-transform: translate(0px, 0px) rotate(0deg) skew(-25deg, 0deg) scale(1, 1); 
-ms-transform: translate(0px, 0px) rotate(0deg) skew(-25deg, 0deg) scale(1, 1); 
transform: translate(0px, 0px) rotate(0deg) skew(-25deg, 0deg) scale(1, 1); 
}

.carousel-caption p {
    padding: 5px 15px 5px 5px;
    background-color:transparent;
    border-bottom: none;
    
} 
.carousel-caption p::after{
	z-index: -1;
	padding-bottom: 24px;
	bottom: 0;
	border-right: none;
	display: inline-block;
	background-color:rgba(0, 0, 0, 0.6);
	
}


/* ==============================================
Highlights
=============================================== */
.highlights, .process, .team, .clients {
	padding: 30px 0;
}

.highlights {
	background-color: #f4f4f4;
}

.feature h4, .feature h5, .choice h4, .choice h5 {
	padding: 10px;
	text-transform: uppercase;
}

.title {
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin: 20px 0 10px 0;
	
}
.title.under-line {
	background-image: url(../img/devider.png);
	background-repeat: no-repeat;
	background-position: bottom center;
}

.title h3, .title h4, .title h5 {
	font-weight: 700;
}
.title h6 {
	margin: 20px 0;
	font-weight: 700;
	color: #828282;
}
/* ==============================================
Features
=============================================== */

.features {
	margin-bottom: 30px;
}

.features .feature{
	text-align: center;
}

.feature span {
	background-color: #f0484a;
	padding: 0 !important;
	margin: 5px 5px 10px;
	color: #fff;
	line-height: 70px;
	display: inline-block;
	width: 70px;
	height: 70px;
	text-align: center;
}

.feature span i{
	font-size: 40px;	
	vertical-align: middle;
	padding: 5px;
	line-height: normal;
}

.feature p {
	color: #828282;
	padding: 10px 10px 0;
}
.feature p > a {
	display: block;
	padding: 10px 0 0 0;
	text-transform: uppercase;

}

/* ==============================================
Choices
=============================================== */
.choices {
	padding-top: 30px;
}

.choices .title h3, .choices .title h4 {
	color: #383838;

}	
.choices .choice{
	text-align: left;
	color:#f0484a;
}
.choice span {
	background-color: #c8c8c8;
	padding: 0 !important;
	margin: 5px 5px 10px;
	color: #fff;	
	display: inline-block;
	width: 22px;
	height: 22px;
	text-align: center;
	box-sizing:border-box;
	border: 1px dashed #969696;
}

.choice span i{
	font-size: 11px;
	line-height: 11px;	
	vertical-align: middle;
	padding: 5px;
	color: #f0484a;
}
.choice h4, .choice h5 {
	padding-bottom: 0px;
	font-weight: 700;
}
.choice p {
	color: #828282;
	padding: 0 10px 0 42px;
}
.choice p > a {
	display: block;
	padding: 10px 0 0 0;
	text-transform: capitalize;

}
/* ==============================================
>Process
=============================================== */

.step {
	background-color: #f0484a;
	color: #fff;
	text-align: center;
	text-transform: capitalize;
	padding: 20px;
	width: 130px;
	height: 130px;
	margin: 5px auto;
}

.step i {
	font-size: 45px;
	line-height: 45px;
	padding: 5px 0;
}
/* ==============================================
>Team
=============================================== */
.photo img {
	max-width: 100%; 
}
.member {
	text-align: center;
}
.member .photo {
	margin: 20px auto;
	width: 210px;
	height: 215px;
	overflow: hidden;
}
.member h5, .member h6 {
	font-weight: 700;
	text-transform: uppercase;
}

.member h5 > span, .member h6 > span {
	border-left: 2px solid #f0484a;
	padding: 2px 0 0 10px; 
	margin-left: 10px;
	text-transform: capitalize;
}

.member p {
	 padding:10px 30px;
	 font-weight: 300;
	 color: #828282;
	 font-size: 12px;
	 line-height: 14px;
}
/* ==============================================
Clients
=============================================== */
.clients li {

}
.clients img {
 max-width: 100%;
 vertical-align: middle;
}


/* ==============================================
5.Modal
=============================================== */
.modal-header,.modal-footer, .modal-footer button {
    background-color: #222;
    color: #e4e4e4;
}
.modal-header .close{
	color: #fff;
}


/* ==============================================
6.Footer
=============================================== */
footer {
	background-color: #2f2f2f;
	color: #ddd;
}

footer ul {
	float: left;
	padding:0 15px 0 0;
}

footer ul li {
	padding: 2px 0;
}

footer  ul li a {
	color: #ddd;
	display: block;
	padding: 3px
}

footer  ul li a:hover {
	color: #fff;
	background-color: rgba(180, 80, 82, 1);
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

footer .elements {	
	padding: 20px 0;
} 

footer p, footer ul {
	font-weight: 300;
	font-size: 12px;
	line-height: 15px;
}

footer .elements .element {
	height: 225px;
	overflow: hidden;
}

footer .element h4, footer .element h5 {
	margin: 0 0 25px;
	text-transform: capitalize;
}

footer .element p {
	text-align: justify;

}

footer .element p.email {
	margin: 0;
	line-height: 24px;
	overflow: auto;
}

footer .contact i{
 	font-size: 10px;
    line-height: 10px;
    vertical-align: middle;
    padding: 4px;
    margin: 3px 10px 10px;
    clear: both;
    text-align: center;
    line-height: normal;
    border-radius: 50%;
    border: 1px solid #ddd;
    height: 20px;
    width: 20px;
    float: left;
 }

footer .copyright {
	text-transform: capitalize;

	color: #ddd;
	background-color: #222222;
	padding: 10px 0 0;
}

/* ==============================================
Social
=============================================== */

ul.social {
	padding: 20px 0;
	width: 100%;
	float: none;

}
 ul.social li {
 	display: inline-block;
 	position: relative;
 	padding: 0 12px 0 0;
 }
 ul.social li:first-child,   ul.social li:first-child a {
  	padding-left: 0;
 	margin-left: 0;
 }

ul.social li:last-child, ul.social li:last-child a{
   	padding-right: 0;
   	margin-right: 0;
 }
ul.social li a {
	padding: 0 !important;
	margin: 5px;
	background-color: #222222;
	color: #fff;
	line-height: 32px;
	display: inline-block;
	width: 32px;
	height: 32px;
	text-align: center;
}

ul.social a i{
	font-size: 20px;	
	vertical-align: middle;
	padding: 5px;
	line-height: normal;
}

ul.social a:hover i{
	color: #222222;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

ul.social a:hover {

	background-color: rgba(240,72,74,0.7)
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
/* ==============================================
Scroll Up
=============================================== */
.scroll_up {
	position: fixed; 	
	right:20px;
	bottom: 70px;
	margin: 5px;
	padding: 12px;
	background: #3d3d3d;
	border-radius: 10%;
	border: 3px solid #4e4e4e;
	cursor: pointer;
	
}
.scroll_up.hide { display: none; }
.scroll_up a {
	display: block;
	padding: 12px;
	background: #3d3d3d;
	border-radius: 10%;
	border: 3px solid #4e4e4e;
	
}
.scroll_up a:hover {
	background: #4e4e4e;
	border-color:#3d3d3d;
	color: #eee;

}
.scroll_up i {
	font-size: 15px;
	font-weight: 700;
	line-height: 15px;
	color: #aaa;
}


/* ==============================================
7. 404
=============================================== */
.error_code {
	vertical-align: middle;
}

.error_msg {
	text-align: center;
}

/* ==============================================
8. Jumbo
=============================================== */
/* ==============================================
Page sidebar-left
=============================================== */
.page p > img {
	margin: 20px 0 ; 
}
.inverse {
 	background-color: #2f2f2f;
 	color: #eee;
 }
 aside {
 	text-align: justify;
 	margin-right:10px;
 }

 aside section {
 	margin:10px 0;
 }
aside p, aside  h1, aside  h2,  aside h3,  aside h4,  aside h5{
	padding: 10px;
}
aside  h1, aside  h2,  aside h3,  aside h4,  aside h5{
	background-color: #f0484a;
	color: #eee;
}
.page .content section  h1, .page .content section  h2, .page .content .page .content section h3,  .page .content section h4,  .page .content section h5{
	margin-bottom: 30px;
	color: #f0484a;
}
/* ==============================================
31. Mobile Screen
=============================================== */
@media screen and (max-width:767px) {
	.navbar-collapse {
		border-top: none;
		box-shadow: none;
	}
	.nav > li {
		padding: 10px 15px 0;

	}
	.navbar .search > a {
		padding: 10px 0px 10px;
	}

	.navbar-brand {
		padding: 5px;
	}
	.bootstrap-slider, .carousel, .carousel .item {
		height: 300px;
	}
	.carousel-caption {
	    left: 0;
	    padding-bottom: 15px;
	    width: 60%;
	}
	 .carousel-caption h3{
		font-size: 18px;
	}
	.carousel-caption h3::after{
		padding-bottom: 40px;
	}
	.carousel-caption p{
		font-size: 12px;
	}
	.carousel-caption p {
		width: 86%;
	}
	.carousel-caption p::after{
		left: -40px;
	}

	footer .col-xs-12 .element {
		text-align: center;
	}

	footer .elements .element {
	 	    margin: 20px 0 30px;
	 	    height: 250px;
	 }

	

}
/* ==============================================
32. Tablet and Desktop Screen
=============================================== */
@media screen and (min-width:768px) {

	.navbar {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 999;
	}	
	.page .navbar {
		position: relative;
	}
	.navbar-brand {
		padding: 17px 35px 15px;
		height: 70px;
	}
	.page .bootstrap-slider {
		margin-top: -20px;
	}
	.bootstrap-slider, .carousel, .carousel .item {
		height: 525px;
	}
	.carousel-caption {
	    left: 0;
	    padding-bottom: 65px;
	}
	.carousel-caption h3::after{
		padding-bottom: 43px;
	}
	.carousel-caption p {
	    margin-bottom: 10px;
	    font-size: 12px;
	    line-height: 1.2;
	}

	.navbar .search>a {
		padding: 33px 15px 10px;
	}
	
	.carousel-caption {
	    width: 35%;
	}
	.carousel-caption h3{
		font-size: 20px;
	}
	.carousel-caption p {
		width: 92%;
	}

	.carousel-caption p::after{
		left: -20px;
	}

}


/* ==============================================
33. Tablet Screen
=============================================== */
@media screen and (min-width:768px) and (max-width:991px) {
	.carousel-caption {
	    width: 45%;
	}

	footer .elements .element {
		margin: 20px 0 30px;
	}

	.nav>li {
		padding: 36px 10px 0;

	}

}
/* ==============================================
34. Desktop Screen
=============================================== */
@media screen and (min-width:992px) and (max-width:1199px) {
	.nav>li {
		padding: 36px 15px 0;

	}
}

/* ==============================================
36. Large Desktop Screen

=============================================== */
@media screen and (min-width:1200px) {

	.nav>li {
		padding: 36px 15px 0;
	}	

	
	 .carousel-inner > .item > img {
		height: auto;
	}	
	

}

/* ==============================================
37. Custom Screens
=============================================== */

@media screen and (min-width:200px) and (max-width:540px) {
	.carousel-indicators {
		bottom: -5px;
	}
	
	.carousel-control.right,.carousel-control.left {
		background-image: none;
	}
	.bootstrap-slider, .carousel, .carousel .item {
		height: 250px;
	}
	.carousel-caption  {
		bottom: 8px;
		text-align: center;
		width: 100%;
	}
	.carousel-caption h3::after, .carousel-caption p::after {
	    display: none;
	}
	.carousel-caption h3 {
	    font-size: 15px !important;
	}
	.carousel-caption p {
	    font-size: 10px !important;
	    background-color: rgba(0, 0, 0, 0.6);
	    width: 100%;
	}
	.choice p {
		padding: 0 10px 0 10px;
	}


}


